
* {
    box-sizing: border-box; /*centraliza os edits dentro do container*/
    /*para dar um reset nas configurações do navegador. vai manter essa configuraçõpes independetende do navegador*/
    margin : 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif, ;
    background-color: #f1f1f1; 
    /* define uma a distância entre o conteúdo de um elemento e suas bordas, do topo pra baixo*/
    padding: 200px;
  }
  /* container para centralizar labes e edits no centro da tela*/
  .container {
    max-width: 600px;/*largura do container*/
    margin:  auto; /*se deixar auto , ajusta no meio*/
    background-color: rgb(229, 241, 229);
    /*bordas entre os componenets*/
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /*faz um sobra no container*/
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;/*margem abaixo do h1*/
    color: #333;
  }
  
  /* ajustes dos labels */
  .contact-form label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
    
  }
  
  /* ajustes dos edits e do memo*/
  .contact-form input,
  .contact-form textarea {
    width: 100%; /*100% do espaço que sobra entre as bordas do container*/
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  /*ajuste do botão*/
  .contact-form button {
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    background-color: #6ead73; /*cor de fundo do botão*/
    color: white; /*cor da fonte no botão*/
    font-size: 16px;
    border: none;
    border-radius: 4px; /*faz um arrendodamento no botão*/
    cursor: pointer;/* tipo do cursor que aparece quando posiciona em cima do botão*/
    transition: background-color 0.3s;
  }
   
  /* cor de fundo, quando posiciona sobre o boão */
  .contact-form button:hover {
    background-color: #236e36; 
  }
  