<section class="sectMenu">
    <div class="btnMenu">
        <div class="lab">
            <a href=""><button>Laboratorio</button></a>
        </div>
        <div class="project">
            <a href=""><button>Projetos</button></a>
        </div>
        <div class="publi">
            <a href=""><button>Publicações</button></a>
        </div>
        <div class="news">
            <a href=""><button>Notícias</button></a>
        </div>
        <div class="oportunidades">
            <a href=""><button>Oportunidades</button></a>
        </div>
    </div>
</section>