<header>
    <div class="toolbar">
        <div id="logo">
            <img src="../../../img/Imagem1.png" alt="Logo" id="imglogo">
            <div class="txtbar">
                <h2>AgriRSLab</h2>
                <p>Agricultural Remote Sensing Laboratoy - INPE</p>
            </div>
        </div>
        <div class="fullbtn">

            <button class="btnpadrao" type="button">Sobre</button>

            <button class="btnpadrao" type="button">Atuação</button>

            <button class="btnpadrao" type="button">Publicações</button>

            <button class="btnpadrao" type="button">Notícias</button>

            <button class="btnpadrao" type="button">Contatos</button>

        </div>

    </div>
</header>